<html>
<head>
<style>
.myDiv {
  
   background-color:black;
   text-align: center;
   color:white
   width:400px;
   max-width: 500px;  
   border: 3px solid #73AD21;
margin: auto;
}
.childDiv {
  
   background-color:black;
   text-align: center;
   color:white
   width:30%;  
   
}
body {
  background-image: url('bgimg.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  
}

</style>
</head>


<body style="text-color:white;">

<div class="myDiv">

<img src="ishan.jpeg" alt="ishan in a jacket" width="350" height="350" >
</br>
<h1 align="center"  style="color:white;">Ishan Sharma</h1>

<h2 align="center"  style="color:white;">Dallas, United States</h2>
<h2 align="center"  style="color:white;">Web Developer | Public Speaker</h2>
<div class="childDiv">

<img src="fb.png" alt="ishan in a jacket" width="30" height="30" >
<img src="insta.png" alt="ishan in a jacket" width="30" height="30" >
<img src="twtr.png" alt="ishan in a jacket" width="30" height="30" >
<img src="lin.png" alt="ishan in a jacket" width="30" height="30" >
</div>
</div>
</body>

</html>